.sliderimg{
    height: 700px;
    background-size: 100% 100%;
}
.Navbaritems{
    background: transparent;
    height: 60px;
    font-size: 20px;
    margin-left: 550px;
}
.logo1{
    height: 80px;
    width: 80px;      
}
/* Experience Maharashtra */
.experienceback{
    height: 550px;
    width: auto;
}